body {
  background: linear-gradient(40deg, rgb(95, 97, 250), rgb(164, 123, 245), rgb(138, 136, 248), #5a5a98, #fa818f, rgb(119, 121, 248));
  background-size: 400% 400%;
  min-height: 100vh;
  margin: 0;
  font-family: 'Roboto', sans-serif, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  animation: gradientMove 40s ease infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container-fluid {
  color: white;
}

.card {
  border-radius: 15px;
  overflow: hidden;
}

.card-img-top {
  border-radius: 15px;
}
.btn-primary {
  background: linear-gradient(135deg, #a36cf2, #7c4dff);
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 8px;
  text-transform: uppercase;
  transition: background 0.3s ease;
}

.btn-primary:hover {
  background: linear-gradient(135deg, #7c4dff, #5c3cff);
  color: white;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
  color: #bf3f4f !important;
  padding: 5px;
  text-shadow: 0 0 black;
}
.navbar-brand ul li a, .nav-link {
  color: #fff !important
}

.nav-link {
  margin-right: 1rem;
}

.dropdown-menu {
  display: none;
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  position: absolute;
  right: 0;
}


/* Initial Navbar Style */
.navbar {
  position: sticky;
  top: 0;
  margin: 1em 1em 0em 1em;
  padding: 0.5em !important;
  z-index: 1000;
  border: 1px solid rgba(11, 1, 48, 0.7);
  border-radius: 1em;
}

/* Style when scrolled */
.navbar.scrolled {
  background: rgba(255, 255, 255, 0.8) !important;
  border: none !important; /* Remove border */
  color: #000;
}

.navbar.scrolled .navbar-brand {
  color: #000 !important;
}

.navbar.scrolled .nav-link {
  color: #000 !important;
}

.navbar.scrolled .btn-primary {
  background: linear-gradient(135deg, #7c4dff, #5c3cff);
  color: white;
}
.navbar.scrolled .navbar-brand {
  color: #bf3f4f !important;
}
